name: Deploy Python Function - fn-akv-dsm-sync-v2

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PYTHON_VERSION: '3.11'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_E596762FC61A435B8CE36D417E101176 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_F308FE62BB334213BFB1482DC888C62D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1D09F27902C4498CB6669F3DB356E6C6 }}

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        with:
          app-name: 'fn-akv-dsm-sync-v2'
          package: '.'  # Envia os arquivos da raiz
          scm-do-build-during-deployment: true
          enable-oryx-build: true
