name: Build and deploy Python project to Azure Function App - fn-akv-dsm-sync-v2

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.' # Indica a raiz do projeto
  PYTHON_VERSION: '3.11'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      # No modelo de build remoto, o artefato é apenas o código fonte limpo
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            .
            !venv/
            !.git/
            !.github/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_E596762FC61A435B8CE36D417E101176 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_F308FE62BB334213BFB1482DC888C62D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1D09F27902C4498CB6669F3DB356E6C6 }}

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        id: deploy-to-function
        with:
          app-name: 'fn-akv-dsm-sync-v2'
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          # ESSENCIAIS para o build remoto e descompactação correta:
          scm-do-build-during-deployment: true
          enable-oryx-build: true
